/* Production de Cacao Fine Saveur Page Specific Styles */

.service-content-img {
    width: 100%;
    border-radius: 8px;
    margin: 30px 0;
}

.value-creation-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}