        <header>
            <!-- Top Bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-left">
                        <span><i class="fa-solid fa-location-dot"></i>Grogouya, 15 Km de Lakota (Côte d’Ivoire)</span>
                        <span><i class="fa-solid fa-phone"></i> (+225) 07 07 83 96 90</span>
                    </div>
                    <div class="top-bar-right">
                        <a href="https://www.facebook.com/Ecakoog" target="_blank" rel="noopener noreferrer"><i
                                class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/company/ecakoog-coop-ca/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->
            <nav class="main-header">
                <div class="container">
                    <div class="logo-container">
                        <div class="logo-img">
                            <a href="{{ROOT}}index.html">
                                <img src="../assets/LogoEcakoog.png" alt="Logo Ecakoog">
                            </a>
                        </div>
                    </div>

                    <div class="nav-menu">
                        <ul>
                            <li><a href="{{ROOT}}index.html" class="active">Accueil</a></li>
                            <li class="dropdown-toggle">
                                <a href="{{ROOT}}a-propos.html" class="dropdown-link ">A Propos <i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="a-propos.html#mot-pca">Mot du PCA</a></li>
                                    <li><a href="a-propos.html#qui-sommes-nous">Qui sommes nous</a></li>
                                    <li><a href="a-propos.html#notre-organisation">Notre organisation</a></li>
                                    <li><a href="a-propos.html#chiffres-cles">Les chiffres clés</a></li>
                                    <li><a href="a-propos.html#nos-certificats">Nos certificats</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-toggle">
                                <a href="../services/index.html" class="dropdown-link ">Nos Services <i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../services/achat-collecte.html">Achat, collecte et Conditionnement</a>
                                    </li>
                                    <li><a href="../services/exportation.html">Exportation</a></li>
                                    <li><a href="../services/transformation.html">Transformation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-toggle">
                                <a href="../kognagnan-cacao/index.html" class="dropdown-link ">KOGNAGNAN CACAO <i
                                        class="fa-solid fa-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../kognagnan-cacao/intrants-biologiques.html">Production d'intrants biologiques</a></li>
                                    <li><a href="../kognagnan-cacao/cacao-fine-saveur.html">Production de cacao fine saveur</a></li>
                                    <li><a href="../kognagnan-cacao/bancarisation-assurance.html">Bancarisation & assurance maladie</a>
                                    </li>
                                    <li><a href="../kognagnan-cacao/promotion-genre.html">Promotion du genre & lutte contre le travail des
                                            enfants</a></li>
                                    <li><a href="../kognagnan-cacao/agroforesterie.html">Agroforesterie</a></li>
                                </ul>
                            </li>
                            <li><a href="../realisations/index.html">Nos Réalisations</a></li>
                            <li><a href="../actualites/index.html">Actualités</a></li>
                            <li><a href="{{ROOT}}contact.html">Contact</a></li>
                            <li><a href="{{ROOT}}partenaires.html">Partenaires</a></li>
                        </ul>
                    </div>

                    <div class="mobile-menu-toggle">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                </div>
            </nav>
        </header>
